body {
    background-image: url("../img/leon.jpg");
    margin: 0;
    background-repeat: no-repeat;
    background-size: 100vh;
    background-position: center;
}

.container {
    display: flex;
    justify-content: center;
}

#imagen {
    height: 80vh;
    display: flex;
    justify-content: center;
}

#tabla {
    display: flex;
    justify-content: center;
    width: 40vw;
    height: 10vh;
    margin-top: 40vh;
}

table {
    width: 70%;
}

table,th,td {
    border: 3px solid rgb(211, 201, 201);
    border-collapse: collapse;
}

th {
    background-color: aliceblue;
}

td {
    text-align: center;
    background-color: yellow;
}
