table,th,td {
    border: 2px solid lightskyblue;
    border-collapse: collapse;
}

table {
    border: outset;
}

th,td {
    padding: 10px;
}

th {
    background-color: rgb(27, 70, 27);
}

td {
    background-color: #a3de83;
}

.col-1 {
    background-color: #85ba68;
}

.col-2 {
    background-color: #689152;
}

#col-3 {
    background-color: #689152;
}

.col-4 {
    text-align: center;
}